 

/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */
 

@font-face {
  font-family: 'Inter';
  src:url('/fonts/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'InterBold';
  src:url('/fonts/Inter-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'InterSemiBold';
  src:url('/fonts/Inter-SemiBold.ttf');
  font-weight: bold;
  font-style: normal;
}
/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #FF7900;
  --ifm-color-black: #242424;
  --ifm-color-primary-dark: #242424;
  --ifm-color-primary-darker: #242424;
  --ifm-color-primary-darkest: #242424;
  --ifm-color-primary-light: #F6F7F9;
  --ifm-color-primary-lighter: #F6F7F9;
  --ifm-color-primary-lightest: #F6F7F9;
  --ifm-code-font-size: 95%;
  --ifm-footer-background-color: #242424 !important ;
  --ifm-font-color-base-inverse: #F6F7F9 !important;
}


.menu--responsive .menu__button {
    background: #FF7900;
}

/*html[data-theme='dark'] {
    --ifm-color-emphasis-0: var(--ifm-color-gray-1000);
    --ifm-color-emphasis-100: var(--ifm-color-gray-900);
    --ifm-color-emphasis-200: var(--ifm-color-gray-800);
    --ifm-color-emphasis-300: var(--ifm-color-gray-700);
    --ifm-color-emphasis-400: var(--ifm-color-gray-600);
    --ifm-color-emphasis-500: var(--ifm-color-gray-500);
    --ifm-color-emphasis-600: var(--ifm-color-gray-400);
    --ifm-color-emphasis-700: var(--ifm-color-gray-300);
    --ifm-color-emphasis-800: var(--ifm-color-gray-200);
    --ifm-color-emphasis-900: var(--ifm-color-gray-100);
    --ifm-color-emphasis-1000: var(--ifm-color-gray-0);
    --ifm-background-color: #18191a;
    --ifm-background-surface-color: #242526;
    --ifm-hover-overlay: rgba(255, 255, 255, 0.05);
    --ifm-menu-link-sublist-icon: url(data:image/svg+xml;utf8,<svg alt="Arrow" xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(255,255,255,0.6)" d="M7.41 15.41L12 10.83l4.59 4.58L18 14l-6-6-6 6z"></path></svg>);
    --ifm-color-content-secondary: rgba(255, 255, 255, 1);
}*/
a:hover  {
  text-decoration: none;
}
header{
  font-family: "InterSemiBold";
}

.menu__link, .navbar__link, .navbar__title{
  font-family: "InterSemiBold";
}

header.hero{
  background: #242424 !important;
  padding: 6rem;
}

.hero h1{
  font-size: 3rem !important;
}

.hero .button{
  color: #FF7900 !important;
  border-color: #FF7900 !important;
}

.hero .button:hover{
  color: #F6F7F9 !important;
  background-color: #FF7900 !important;
  border-color: #FF7900 !important;
}

h1{
  font-size: 2.4rem !important;
}

.hero__title{
  margin-bottom: 2rem !important;
}

.hero__subtitle{
  display: none !important;
}

.button--secondary{
  color: #F6F7F9 !important;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

.disclaimer {
  margin: 20px 20%;
  font-weight: 700;
}

.footer{
  background: #000000 !important;
}


[data-theme='dark'] .navbar {
  background: #000000 !important;
}

[data-theme='dark'] .main-wrapper {
  background: #141516 !important;
}
.alert--danger{
  background: #D0131F;
}

.alert--info{
  background: #2CAA5F;
}

.alert--tip{
  background: #4AA8DF;
}

code{
  color: #F6F7F9;
}

pre, code, .codeBlockLines_node_modules-\@docusaurus-theme-classic-lib-theme-CodeBlock-{
  background: #242424 !important;
}


.header-github-link:hover {
  opacity: 0.6;
}

.header-github-link::before {
  content: '';
  width: 24px;
  height: 24px;
  display: flex;
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

[data-theme='dark'] .header-github-link::before {
  background: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='white' d='M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12'/%3E%3C/svg%3E")
    no-repeat;
}

.dropdown > .navbar__link:after {
  border-color: currentColor transparent;
  border-style: solid;
  border-width:0;
  margin-left: 0.3em;
  position: relative;
  top:4px;
  transform: translateY(-50%);
  content: url('/img/arrow-down.svg');
  display: inline-block;
  width: 12px;
  height: 12px;
}

[data-theme='light'] .dropdown > .navbar__link:hover:after {
  filter: invert(43%) sepia(78%) saturate(1287%) hue-rotate(2deg) brightness(104%) contrast(103%);
}

[data-theme='dark']  .dropdown > .navbar__link:after {
  filter: invert(100%) sepia(0%) saturate(2819%) hue-rotate(178deg) brightness(107%) contrast(78%);
}

[data-theme='dark'] .dropdown > .navbar__link:hover:after {
  filter: invert(43%) sepia(78%) saturate(1287%) hue-rotate(2deg) brightness(104%) contrast(103%);
}

.footer__link-item, .footer__title {
  color: #F6F7F9;
}

[data-theme='light'] .navbar__link {
  color: #242424;
}

.dropdown__menu {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}


.navbar-sidebar {
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -ms-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

.menu__list {
  -webkit-transition: height 0.2s linear !important;
  -moz-transition: height 0.2s linear !important;
  -ms-transition: height 0.2s linear !important;
  -o-transition: height 0.2s linear !important;
  transition: height 0.2s linear !important;
}

[data-theme='dark'] .theme-admonition-note {
  background-color: #465158;
  border-color: #C1C9CF;
}

[data-theme='dark'] .theme-admonition-tip {
  background-color: #0F6648;
  border-color: #00DAA1;
}

[data-theme='dark'] .theme-admonition-info {
  background-color: #264C6E;
  border-color: #007FFF;
}

[data-theme='dark'] .theme-admonition-caution {
  background-color: #784213;
  border-color: #F37300;
}

[data-theme='dark'] .theme-admonition-danger {
  background-color: #791112;
  border-color: #F30000;
}


[data-theme='light'] .theme-admonition-note {
  background-color: #E5E9EC;
  border-color: #C1C9CF;
}

[data-theme='light'] .theme-admonition-tip {
  background-color: #E0FFF4;
  border-color: #00DAA1;
}

[data-theme='light'] .theme-admonition-info {
  background-color: #E2F1FF;
  border-color: #007FFF;
}

[data-theme='light'] .theme-admonition-caution {
  background-color: #FDE9D7;
  border-color: #F37300;
}

[data-theme='light'] .theme-admonition-danger {
  background-color: #FECDCD;
  border-color: #F30000;
}